[submodule "themes/portio"]
	path = themes/portio
	url = git@github.com:StaticMania/portio-hugo.git
[submodule "themes\\portio"]
	path = themes\\portio
	url = https://github.com/StaticMania/portio-hugo.git
